{% extends "base.html" %}

{% block content %}
<h2 class="d-flex aligns-items-center justify-content-center" style= "margin-top: 3%;">Add Proposal</h2>
<div class="d-flex aligns-items-center justify-content-center">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            <div class="form-group" >
            {{ form.dateProposal.label }}<br>
            {{ form.dateProposal(class_="form-control",size=64) }}
            </div>
            {% for error in form.dateProposal.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            <div class="form-group" >
            {{ form.dateRank.label }}<br>
            {{ form.dateRank(class_="form-control", size=128) }}
            </div>
            {% for error in form.dateRank.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <br>
        <p>{{ form.submit(class_="form-control btn btn-primary") }}</p>
    </form>
</div>
{% endblock %}