{% extends "base.html" %}

{% block content %}
<h1 class="d-flex aligns-items-center justify-content-center header" style= "margin-top: 3%;">Evaluate</h1>

<div class="text-center" style="margin-left : 25% ;width: 55%;">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            <table class="table d-table table-dark table-striped">
                <tbody>
                    
                    <tr>
                        <td>{{ form.s1.label }}</td>
                        <td >
                            {% for subfield in form.s1 %}
                            {{ subfield.label }}
                            {{ subfield }}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ form.s2.label }}</td>
                        <td >
                            {% for subfield in form.s2 %}
                            {{ subfield.label }}
                            {{ subfield }}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ form.s3.label }}</td>
                        <td >
                            {% for subfield in form.s3 %}
                            {{ subfield.label }}
                            {{ subfield }}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ form.s4.label }}</td>
                        <td >
                            {% for subfield in form.s4 %}
                            {{ subfield.label }}
                            {{ subfield }}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ form.s5.label }}</td>
                        <td >
                            {% for subfield in form.s5 %}
                            {{ subfield.label }}
                            {{ subfield }}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ form.s6.label }}</td>
                        <td >
                            {% for subfield in form.s6 %}
                            {{ subfield.label }}
                            {{ subfield }}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ form.s7.label }}</td>
                        <td >
                            {% for subfield in form.s7 %}
                            {{ subfield.label }}
                            {{ subfield }}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ form.s8.label }}</td>
                        <td >
                            {% for subfield in form.s8 %}
                            {{ subfield.label }}
                            {{ subfield }}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ form.s9.label }}</td>
                        <td >
                            {% for subfield in form.s9 %}
                            {{ subfield.label }}
                            {{ subfield }}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ form.s10.label }}</td>
                        <td>
                            {% for subfield in form.s10 %}
                            {{ subfield.label }}
                            {{ subfield }}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ form.s11.label }}</td>
                        <td >
                            {% for subfield in form.s11 %}
                            {{ subfield.label }}
                            {{ subfield }}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ form.s12.label }}</td>
                        <td>
                            {% for subfield in form.s12 %}
                            {{ subfield.label }}
                            {{ subfield }}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ form.s13.label }}</td>
                        <td>
                            {% for subfield in form.s13 %}
                            {{ subfield.label }}
                            {{ subfield }}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ form.s14.label }}</td>
                        <td>
                            {% for subfield in form.s14 %}
                            {{ subfield.label }}
                            {{ subfield }}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ form.s15.label }}</td>
                        <td>
                            {% for subfield in form.s15 %}
                            {{ subfield.label }}
                            {{ subfield }}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ form.s16.label }}</td>
                        <td>
                            {% for subfield in form.s16 %}
                            {{ subfield.label }}
                            {{ subfield }}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ form.s17.label }}</td>
                        <td>
                            {% for subfield in form.s17 %}
                            {{ subfield.label }}
                            {{ subfield }}
                            {% endfor %}
                        </td>
                    </tr>
                    
                    
                </tbody>
            </table>
        <p> {{ form.submit(class_="form-control btn btn-primary") }} </p>
    </form>
</div>
    


    
{% endblock %}