{% extends "base.html" %}

{% block content %}
<h1 class="d-flex aligns-items-center justify-content-center header" style= "margin-top: 3%;">Proposal</h1>
<br>
<br>

{%if not proposals %}
<div class="text-center" style="margin-left : 25% ;width: 50%;">
    <table class="table d-table table-dark table-striped">
        <thead>
            <tr>
    
            <th scope="col">title</th>
            <th scope="col"></th>
            
            </tr>
        </thead>
        <tbody>
            {% for proposal in proposals %}
            <tr>
                <td>{{ proposal.title }}</td>
                <td>
                    <a href="{{ url_for('deleteProposal', id=proposal.id) }}" class="btn btn-outline-danger btn-sm" style="margin-bottom: 10px ;">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endif %}
    <div class="d-flex aligns-items-center justify-content-center">
        <a href="{{ url_for('addProposal')}}" class="btn btn-primary" style="font-size: 30 ;">Add</a>
    </div>
{% endblock %}