{% extends "base.html" %}

{% block content %}
<h1 class="d-flex aligns-items-center justify-content-center header" style= "margin-top: 3%;">Publish Proposal</h1>
<br>
<br>


<div class="text-center" style="margin-left : 25% ;width: 50%;">
    <table class="table d-table table-dark table-striped">
        <thead>
            <tr>
            <th scope="col">author</th>
            <th scope="col">title</th>
            <th scope="col">description</th>
            <th scope="col" style="width: 20%;"></th>
            
            
            </tr>
        </thead>
        <tbody>
            {% for proposal in proposals %}
            <tr>
                <td>{{ authors.pop() }}</td>
                <td>{{ proposal.title }}</td>
                <td style="width: 30%; word-break: break-word;">{{ proposal.desc }}</td>
                {%if not proposal.published %}
                <td style="vertical-align: bottom;"> 
                    <a href="{{ url_for('publishProposals', id=proposal.id) }}" class="btn btn-outline-info btn-sm" style="margin-bottom: 10px;">publish</a>
                </td>
                {% else %}
                <td style="vertical-align: bottom;">
                    <a href="{{ url_for('publishProposals', id=proposal.id) }}" class="btn btn-outline-danger btn-sm" style="margin-bottom: 10px;">unpublish</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>


{% endblock %}