{% extends "base.html" %}

{% block content %}
<h1 class="d-flex aligns-items-center justify-content-center header" style= "margin-top: 3%;">Proposals</h1>
<br>
<br>


<div class="text-center" style="margin-left : 25% ;width: 50%;">
    <table class="table d-table table-dark table-striped">
        <thead>
            <tr>
            <th scope="col">author</th>
            <th scope="col">title</th>
            <th scope="col">description</th>
            
            
            </tr>
        </thead>
        <tbody>
            {% for proposal in proposals %}
            <tr>
                <td>{{ authors.pop() }}</td>
                <td>{{ proposal.title }}</td>
                <td style="width: 75%; word-break: break-word;">{{ proposal.desc }}</td>
            </tr>
            
            {% endfor %}
        </tbody>
    </table>
    </div>


{% endblock %}